<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinthecloud.athere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Azure GCM permissions -->
    <permission
        android:name="com.pinthecloud.athere.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pinthecloud.athere.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- General permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.pinthecloud.athere.AhApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- for Azure GCM -->
        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.pinthecloud.athere" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.pinthecloud.athere.activity.SplashActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinthecloud.athere.activity.SquareProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.pinthecloud.athere.activity.SquareListActivity" />
        <activity android:name="com.pinthecloud.athere.activity.HongkunTestAcitivity" />
        <activity android:name="com.pinthecloud.athere.activity.AhActivity" />
        <activity android:name="com.pinthecloud.athere.activity.BasicProfileActivity" />
        <activity android:name="com.pinthecloud.athere.activity.SquareChatActivity" />
    </application>

</manifest>